<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">
  <display-name>StudentSys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>loginRegisterServlet</servlet-name>
    <servlet-class>com.hairgroup.choose.web.LoginRegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginRegisterServlet</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>teacherInfoServlet</servlet-name>
    <servlet-class>com.hairgroup.choose.web.TeacherInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>teacherInfoServlet</servlet-name>
    <url-pattern>/teacher</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>studentInfoServlet</servlet-name>
    <servlet-class>com.hairgroup.choose.web.StudentInfoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>studentInfoServlet</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>selectCourseServlet</servlet-name>
    <servlet-class>com.hairgroup.choose.web.SelectCourseServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>selectCourseServlet</servlet-name>
    <url-pattern>/stuCourseSelect</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>teacherCourseServlet</servlet-name>
    <servlet-class>com.hairgroup.choose.web.TeacherCourseServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>teacherCourseServlet</servlet-name>
    <url-pattern>/teaCourseSelect</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>courseServlet</servlet-name>
    <servlet-class>com.hairgroup.choose.web.CourseServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>courseServlet</servlet-name>
    <url-pattern>/course</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>corsFilter</filter-name>
    <filter-class>com.hairgroup.choose.filter.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>corsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>roleFilter</filter-name>
    <filter-class>com.hairgroup.choose.filter.RoleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>roleFilter</filter-name>
    <url-pattern>/teacher</url-pattern>
    <url-pattern>/student</url-pattern>
    <url-pattern>/stuCourseSelect</url-pattern>
    <url-pattern>/teaCourseSelect</url-pattern>
    <url-pattern>/course</url-pattern>
  </filter-mapping>
</web-app>